@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

form{
    width: 500px;
    border-radius: 10px;
    background-color: rgba(242, 79, 79, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgb(207, 131, 131);
    font-family: "Oswald", sans-serif;
    gap: 30px;
    padding: 20px;
}
.helptext{display: none;}
.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
input{
    width: 350px;
    height: 30px;
    outline: none;
    box-sizing:border-box;
    border-radius: 5px;
    border: 2px solid rgb(172, 56, 56);
    transition: 0.5s;
}
input:focus{
    border: 2px solid rgb(253, 137, 137);
    transition: 1s;
    box-shadow:0 0 5px rgb(238, 135, 135) ;
}
label{
    display: none;
}
br{
    display: none;
}
h2{
    font-size: 200;
}
select{
    width: 350px;
    height: 30px;
    box-sizing:border-box;
    border-radius: 5px;
    outline: none;
    border: 2px solid rgb(172, 56, 56);
} 
button{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 10px;
    border-bottom: 3px solid rgb(105, 37, 37);
    cursor: pointer;
}
button:active{
    border-bottom: none;
    box-shadow: 0 0 10px inset rgb(65, 53, 53);
}